rtta-refdata-core/src/main/java/au/gov/nsw/railcorp/rtta/refint/generated/nodes/RTTA-Nodes-v0.1.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:nodal="http://www.railcorp.nsw.gov.au/RTTA/reference"
			xmlns:reference="http://www.railcorp.nsw.gov.au/RTTA/reference" 
			targetNamespace="http://www.railcorp.nsw.gov.au/RTTA/reference" 
			elementFormDefault="qualified">
			
 <xs:include schemaLocation="RTTA-Reference-v0.2.xsd"/>
 <xs:include schemaLocation="RTTA-NodeTypes-v0.1.xsd"/>
 
 <xs:element name="rttaNodes">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ReferenceHeader" type="reference:ReferenceHeader"/>
    <xs:element name="NodesV01" type="nodal:NodesV01"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 
</xs:schema>
